/labs/lab2/Singleton/nbproject/private/
/labs/lab2/Singleton/build/
/labs/lab3/chain_of_responsibilty/nbproject/private/
/labs/lab3/chain_of_responsibilty/build/
/labs/lab3/chain_of_responsibility/nbproject/private/
/labs/lab3/chain_of_responsibility/build/
/labs/lab3/decorator_pattern/nbproject/private/
/labs/lab3/decorator_pattern/build/
/iterator_pattern/nbproject/private/
/iterator_pattern/build/
/Visitor_newExample/nbproject/private/
/Visitor_newExample/build/